@charset "ISO-8859-1";


*{
	box-sizing: border-box;
}
body{
	height:100vh;
	margin: 0 !important;
}
#part1{
	width:20%;
	height:100vh;
	background-color: black;
	float: left;
	
}
#part2{
	
	width: 80%;
	float: right;
	height: 100%;
}
#bg{
	
	background-image: url("background.jpg");
	height: 45%;
	width: 100%;
	
}
#tb{
	
	height: 300px;
}
#part1 div{
	
	height: 40px;
	color: white;
	border: black solid 1px ;
}
#part1 div:hover{
	background-color: #b22fbb;
	height: 40px;
	color: white;
	border: black solid 1px ;
}
#part1 div a{

	color: white;
	
}
#ss{
	color :white;
	text-align: center;
	padding-top: 10%;
}


#button{
	

	width :150px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
#part2 a{
	float:right;
}
/* button */
#button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

